*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #FFF;
}

.container_header{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo a{
   text-decoration: none;
   font-size: 35px;
   font-weight: bold;
   color: #000;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
}

.menu ul li a{
    display: block;
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
    color: #000;
}

.menu ul li a:hover{
    color: #ED9448;
}

/* Layout-Principal */
#layout_principal{
    background-image: url("../img/predios-kakuna.jpg");
    background-size: cover;
    background-position: center;
    height: 550px;
    object-fit: cover;
}

.layout_title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.layout_title h1{
   color: #FFF;
   font-size: 72px;
   font-family: "Kepler Std";
   font-weight: normal;
   text-align: center;
}

.layout_title::after{
    content: "";
    width: 100px;
    height: 4px;
    background-color: #FFF;
    position: absolute;
    margin-top: 200px;
}

/* Quem Somos */
.about{
    padding-top: 40px;
    padding-bottom: 40px;
}

.about_text h1{
    font-family: "Kepler Std";
    color: #302D3D;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}

.about_text h1::after{
    content: "";
    width: 40px;
    height: 2px;
    background-color: #ED9448;
    display: block;
    margin-top: 10px;
}

.about_text p{
    margin-top: 25px;
    font-size: 16px;
    line-height: 25px;
    color: #302D3D;
    font-family: Arial, Helvetica, sans-serif;
}

.about_text ul{
    margin-top: 15px;
}

.about_text ul li{
    font-style: 18px;
    font-family: "Kepler Std";
    font-style: italic;
    font-weight: 600;
    color: #302D3D;
    line-height: 35px;
    margin-left: 0px;
    list-style: none;
}

.about_text ul li::before{
    content: "➤";
    color: #ED9448;
    margin-right: 10px;
}

/* Frase */
#phrase_field{
    background-color: #302D3D;
    width: 100%;
    height: 250px;
}

.phrase{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.phrase h1{
    color: #FFF;
    font-style: 36px;
    font-family: "Kepler Std";
    line-height: 50px;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    max-width: 820px;
}

.phrase h1::after{
    content: "";
    width: 40px;
    height: 2px;
    background-color: #ED9448;
    display: block;
    margin: 10px auto;
}

.phrase p{
    font-style: 14px;
    margin-top: 10px;
    color: #ED9448;
    text-transform: uppercase;
}

/* Items */
.items{
    padding-top: 60px;
    padding-bottom: 40px;
}

.item{
    text-align: center;
}

.item h1{
    font-family: "Kepler Std";
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.item h1::after{
    content: "";
    width: 40px;
    height: 3px;
    background-color: #ED9448;
    display: block;
    margin: 10px auto 10px auto;
}

.item p{
    max-width: 280px;
    margin: 10px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #302D3D;
}

.btn{
    text-align: center;
}

.btn a{
    display: inline-flex;
    margin-top: 40px;
    width: 220px;
    height: 50px;
    border: 3px solid #ED9448;
    align-items: center;
    justify-content: center;
    font-family: "Kepler Std";
    font-size: 24px;
    color: #302D3D;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}




